In [4]:
import pandas as pd


weather_data_2021 = pd.read_csv(r"/home/yamukelani/source_code/msc_research/rul_prediction/src/datasets/weather-2021.csv")
weather_data_2022 = pd.read_csv(r"/home/yamukelani/source_code/msc_research/rul_prediction/src/datasets/2022.csv")

In [5]:
weather_data_2021

       Timestamp (UTC+0)  CS320_SlrW_Avg  EE180_AirTemp_Avg  EE180_RH
0       31/12/2020 00:01             0.0              19.96     73.70
1       31/12/2020 00:02             0.0              19.95     73.77
2       31/12/2020 00:03             0.0              19.88     73.75
3       31/12/2020 00:04             0.0              19.89     73.97
4       31/12/2020 00:05             0.0              19.88     73.75
...                  ...             ...                ...       ...
525463  31/12/2021 23:55             0.0              13.69     99.30
525464  31/12/2021 23:56             0.0              13.70     99.50
525465  31/12/2021 23:57             0.0              13.69     99.40
525466  31/12/2021 23:58             0.0              13.72     99.50
525467  31/12/2021 23:59             0.0              13.73     99.60

[525468 rows x 4 columns]

In [6]:
weather_data_2022

          Timestamp (UTC+0)  CS320_SlrW_Avg  EE180_AirTemp_Avg  EE180_RH
0       2021-12-31 22:00:00             0.0              14.06      99.5
1       2021-12-31 22:01:00             0.0              14.02      99.6
2       2021-12-31 22:02:00             0.0              14.04      99.6
3       2021-12-31 22:03:00             0.0              14.01      99.8
4       2021-12-31 22:04:00             0.0              14.00      99.8
...                     ...             ...                ...       ...
522642  2022-12-31 23:55:00             0.0              13.59      99.8
522643  2022-12-31 23:56:00             0.0              13.64      99.8
522644  2022-12-31 23:57:00             0.0              13.68      99.9
522645  2022-12-31 23:58:00             0.0              13.66      99.9
522646  2022-12-31 23:59:00             0.0              13.68      99.8

[522647 rows x 4 columns]

In [9]:
type(weather_data_2021["Timestamp (UTC+0)"][0])

str

In [10]:
weather_data_2021['Date'] = weather_data_2021["Timestamp (UTC+0)"].str[:10]

In [11]:
weather_data_2021

,Timestamp (UTC+0),CS320_SlrW_Avg,EE180_AirTemp_Avg,EE180_RH,Date
0,31/12/2020 00:01,0.0,19.96,73.70,31/12/2020
1,31/12/2020 00:02,0.0,19.95,73.77,31/12/2020
2,31/12/2020 00:03,0.0,19.88,73.75,31/12/2020
3,31/12/2020 00:04,0.0,19.89,73.97,31/12/2020
4,31/12/2020 00:05,0.0,19.88,73.75,31/12/2020
...,...,...,...,...,...
525463,31/12/2021 23:55,0.0,13.69,99.30,31/12/2021
525464,31/12/2021 23:56,0.0,13.70,99.50,31/12/2021
525465,31/12/2021 23:57,0.0,13.69,99.40,31/12/2021
525466,31/12/2021 23:58,0.0,13.72,99.50,31/12/2021
525467,31/12/2021 23:59,0.0,13.73,99.60,31/12/2021

In [12]:
weather_data_2021['Date'] = weather_data_2021['Date'].apply(pd.to_datetime).dt.date

In [13]:
weather_data_2021

,Timestamp (UTC+0),CS320_SlrW_Avg,EE180_AirTemp_Avg,EE180_RH,Date
0,31/12/2020 00:01,0.0,19.96,73.70,2020-12-31
1,31/12/2020 00:02,0.0,19.95,73.77,2020-12-31
2,31/12/2020 00:03,0.0,19.88,73.75,2020-12-31
3,31/12/2020 00:04,0.0,19.89,73.97,2020-12-31
4,31/12/2020 00:05,0.0,19.88,73.75,2020-12-31
...,...,...,...,...,...
525463,31/12/2021 23:55,0.0,13.69,99.30,2021-12-31
525464,31/12/2021 23:56,0.0,13.70,99.50,2021-12-31
525465,31/12/2021 23:57,0.0,13.69,99.40,2021-12-31
525466,31/12/2021 23:58,0.0,13.72,99.50,2021-12-31
525467,31/12/2021 23:59,0.0,13.73,99.60,2021-12-31

In [17]:
import datetime 
import numpy as np

In [ ]:
 weather_data_2021 = np.where(weather_data_2021[''])